body{
  background-color: black;
  display: flex;
  padding: 5px;
  margin: auto;
  gap: 3px;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
}

  .stars {
    position: fixed;
    width: 2px;
    height: 2px;
    background-color: #fff;
    z-index: 2;
  }

  #main{
    height: auto;
    width: 95vw;
    display: flex;
    border: 5px solid #ffe81f;
    border-radius: 25px;
    align-items: center;
    justify-items: center;
    flex-flow: column nowrap;


  }

      .header{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 400%;
        font-weight: bolder;
        color: #ffe81f;
        align-self: center;
        justify-self: center;
      }


      #user-section{
        margin: 2em;
        padding-bottom: 2em;
        display: flex;
        width: auto;
        color: #ffe81f;
        flex-flow: column nowrap;
        align-items: center;
      }

        p{
          margin: 3px;
          padding: 3px;
          font-size: 26px;
          text-align: center;
        }

        #search-links{
          height: auto;
          width: auto;
          padding-bottom: 2em;
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-items: center;
          align-self: center;
          gap: 4em;
        }

          .parentBtn{
            font-size: 1.25em;
            display: inline-block;
            cursor: pointer;
            width: 8em;
            height: auto;
            align-self: center;
            border: #ffe81f solid 0.125em;
            border-radius: 0.5em;
            padding: 0.25em 1em;
            background-color: inherit;
            color: #ffe81f;
          }
  
        #results {
          display: flex;
          width: 95vw;
          height: auto;
          background-color: inherit;
          flex-flow: column nowrap;
          align-content: center;
          justify-content: center;
          gap: 3em;
          padding: 2em;
        }

          .childBtn{
            font-size: 2em;
            display: inline-block;
            width: 15em;
            cursor: pointer;
            text-decoration: none;
            align-self: center;
            border: #ffe81f solid 0.125em;
            border-radius: 0.5em;
            padding: 0.25em 1em;
            background-color: inherit;
            color: #ffe81f;

          }
      
          #link-list{
            width: inherit;
            list-style-type: none;
            align-items: center;
          }

          .key {
            width: inherit;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.5em;
            color: #ffe81f;
          }

      #footer{
        display: flex;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bolder;
        color: #ffe81f;
        align-self: center;
        justify-self: center;
      }

      .prevNext{
        font-size: 2em;
            display: inline-block;
            width: 15em;
            cursor: pointer;
            text-decoration: none;
            align-self: center;
            border: #ffe81f solid 0.125em;
            border-radius: 0.5em;
            padding: 0.25em 1em;
            background-color: inherit;
            color: #ffe81f;
      }

