body{
  background-color: black;
  display: flex;
  padding: 5px;
  margin: auto;
  gap: 3px;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
}

  .stars {
    position: fixed;
    width: 2px;
    height: 2px;
    background-color: #fff;
    z-index: 2;
  }

  .btn{
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    height: auto;
    align-self: center;
    border: #ffe81f solid 0.125em;
    color: #ffe81f;
    border-radius: 0.5em;
    padding: 0.25em 1em;

    text-shadow: 0 0 0.125em hsl(0 0 100% / 0.5),
    0 0 0.45em #ffe81f;

    box-shadow: inset 0 0 0.5em 0 #ffe81f,
    0 0 0.5em 0 #ffe81f;

    position: relative;

    transition: background-color 100ms linear;

  }

  .btn::before{
    pointer-events: none;
    content: "";
    position: absolute;
    background-color: #ffe81f;
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: perspective(2.5em) rotateX(40deg) scale(1, 0.30);
    filter: blur(2em);
    opacity: 0.7;
  }

  .btn::after{
    pointer-events: none;
    content:'';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
    transition: color 100ms linear;
  }

  .btn:hover,
  .btn:focus{
    color: #0077ff;
    border: #0077ff solid 0.125em;
    box-shadow: 0 0 1em 0.5em #0077ff;
  }
  
  .btn:hover:focus::before{
    opacity: 1;
  }
  .btn:hover:focus::after{
    opacity: 1;
  }

  #main{
    height: auto;
    width: 95vw;
    display: flex;
    border: 5px solid #ffe81f;
    border-radius: 25px;
    align-items: center;
    justify-items: center;
    flex-flow: column nowrap;
  }

      .header{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 400%;
        font-weight: bolder;
        color: #ffe81f;
        align-self: center;
        justify-self: center;
      }


      #user-section{
        margin: 2em;
        padding-bottom: 2em;
        display: flex;
        width: auto;
        color: #ffe81f;
        flex-flow: column nowrap;
        align-items: center;
      }

        p{
          margin: 3px;
          padding: 3px;
          font-size: 26px;
          text-align: center;
        }
      


        #search-links{
          height: auto;
          width: auto;
          padding-bottom: 2em;
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-items: center;
          align-self: center;
          gap: 4em;
        }

          #searchBtn{
            font-size: 1.25em;
            width: 8em;
          }
  
        #results {
          display: flex;
          width: 95vw;
          height: auto;
          background-color: inherit;
          flex-flow: column nowrap;
          align-content: center;
          justify-content: center;
          gap: 3em;
          padding: 2em;
        }

          #childBtn{
            font-size: 2em;
            width: 15em;
          }
      
          #link-list{
            width: inherit;
            list-style-type: none;
            align-items: center;
          }

          .key {
            width: inherit;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.5em;
            color: #ffe81f;
          }

      #footer{
        display: flex;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bolder;
        color: #ffe81f;
        align-self: center;
        justify-self: center;
        flex-flow: row nowrap;
        padding-bottom: 2em;
      }

      #prevNext{
        font-size: 2em;
        width: 15em;
      }

